body{
    font-family: 'Ephesis', cursive;
}
h1{
    font-size: 50px;
}
.blue-highlight{
    color: deepskyblue;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
}
p{
    font-family: 'Josefin Sans', sans-serif;
}
.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}
.half-width img{
    width: 100%;
}